<nb-flip-card [flipped]="flipped">
  <nb-card-front>
    <nb-card>
      <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
      <nb-card-header *ngIf="title">
        {{ title }}
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="type === 'temperature'" class="d-flex justify-content-around chart-container">
          <linear-gauge
            width="150"
            height="300"
            min-value="-20"
            max-value="10"
            value="5"
            major-ticks="-20,-15,-10,-5,0,5,10"
            highlights='[
              {"from": -20, "to": -10, "color": "rgba(255, 0, 0, .3)"}
            ]'
          ></linear-gauge>
          <linear-gauge
            width="150"
            height="300"
            min-value="20"
            max-value="80"
            value="50"
            major-ticks="20,30,40,50,60,70,80"
            highlights='[
              {"from": 70, "to": 80, "color": "rgba(255, 0, 0, .3)"}
            ]'
          ></linear-gauge>
        </div>
        <chart *ngIf="type !== 'temperature'" type="line" style="height: 300px;" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon" (click)="toggleView()"></nb-icon>
      <nb-card-header>
        Battery
      </nb-card-header>
      <nb-card-body>
        <div class="battery-chart-container">
          <div class="m-0 battery-label">{{ battery }} %</div>
            <div
              echarts
              class="echart"
              [options]="batteryOptions">
           </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
