<div class="signup-container pt-5 pb-4 pr-4 pl-4">
    <img class="logo mb-5" src="../../../assets/images/logo.png"/>
    <input class="mt-2 mb-2 p-3" name="name" placeholder="Full Name"/>
    <input class="mt-2 mb-2 p-3" placeholder="Company Name" />
    <input class="mt-2 mb-2 p-3" placeholder="Company Phone" />
    <input class="mt-2 mb-2 p-3" placeholder="Company Address" />
    <input class="mt-2 mb-2 p-3" type="email" placeholder="Company Email Address" />
    <input class="mt-2 mb-2 p-3" type="password" placeholder="Password" />
    <input class="mt-2 mb-2 p-3" type="password" placeholder="Confirm Password" />

    <button class="btn btn-signup btn-success mt-4 mb-3">Register</button>
    <span class="text-signup">Already have an account? <a [routerLink]="['/auth/login']" class="btn-login text-success">Login</a></span>
</div>