<div>
  <div class="row">
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card class="status-nb-card">
        <div class="icon-container">
          <nb-icon class="icon" icon="bar-chart-2-outline"></nb-icon>
        </div>
        <div class="details">
          <div class="title h5">SWISS COM LTE</div>
        </div>
      </nb-card>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card class="status-nb-card">
        <div class="icon-container">
          <nb-icon class="icon" icon="clock-outline"></nb-icon>
        </div>
        <div class="details">
          <div class="title h5">15:33</div>
          <div class="title h5">UTC + 1</div>
        </div>
      </nb-card>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card class="status-nb-card">
        <div class="icon-container">
          <!-- <nb-icon class="icon" icon="bar-chart-2-outline"></nb-icon> -->
        </div>
        <div class="details">
          <!-- <div class="title h5">SWISS COM LTE</div> -->
        </div>
      </nb-card>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card class="status-nb-card">
        <div class="icon-container">
        </div>
        <div class="details">
        </div>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card>
        <nb-card-header>
          Speed
        </nb-card-header>
        <nb-card-body class="d-flex align-items-center justify-content-center">
          <radial-gauge
            width="300"
            height="300"
            min-value="0"
            max-value="120"
            major-ticks="0,20,40,60,80,10,120"
            [value]="(sensor$ | async)?.speed"
            units="Km/h"
            highlights='[
              {"from": 100, "to": 120, "color": "rgba(255, 0, 0, .3)"}
            ]'
          ></radial-gauge>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card>
        <nb-card-header>
          Acceleration
        </nb-card-header>
        <nb-card-body class="d-flex align-items-center justify-content-center">
          <radial-gauge
            width="300"
            height="300"
            min-value="-5"
            max-value="5"
            major-ticks="-5,-4,-3,-2,-1,0,1,2,3,4,5"
            [value]="(sensor$ | async)?.acceleration"
            units="m/s²"
            highlights='[
              {"from": -5, "to": -3, "color": "rgba(255, 0, 0, .3)"},
              {"from": 3, "to": 5, "color": "rgba(255, 0, 0, .3)"},
            ]'
          ></radial-gauge>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card>
        <nb-card-header>
          Msla
        </nb-card-header>
        <nb-card-body class="d-flex align-items-center justify-content-center">
          <ngx-msla [value]="(sensor$ | async)?.msla" ></ngx-msla>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <nb-card>
        <nb-card-header>
          Compass
        </nb-card-header>
        <nb-card-body class="d-flex align-items-center justify-content-center">
          <radial-gauge
            width="300"
            height="300"
            min-value="0"
            max-value="360"
            major-ticks="N,NE,E,ES,S,SW,W,WN,N"
            minor-ticks="10"
            ticks-angle="360"
            start-angle="180"
            stroke-ticks="false"
            highlights="false"
            color-plate="white"
            color-major-ticks="#000"
            color-minor-ticks="#000"
            color-numbers="#000"
            color-needle="#000"
            color-needle-end="#000"
            numbers-margin="2"
            font-numbers-size="30"
            color-needle-shadow-down="false"
            color-needle-circle-outer="#000"
            color-circle-inner="false"
            value-box="false"
            value-text-shadow="false"
            needle-circle-size="7"
            animation-rule="linear"
            needle-type="line"
            needle-start="75"
            needle-end="99"
            needle-width="3"
            borders="true"
            border-inner-width="3"
            border-middle-width="1"
            border-outer-width="5"
            border-shadow-width="0"
            animation-duration="1500"
            animation-target="plate"
            [value]="(sensor$ | async)?.heading"
          >
          </radial-gauge>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-body>
          <div class="row">
              <div class="col-md-12">
                <div class="map match-parent" id="map"></div>
              </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <ngx-sensor-chart
        title="Temperature & Humidity"
        type="temperature"
        battery="45"
      ></ngx-sensor-chart>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <ngx-sensor-chart
        title="Ammonia"
        type="ammonia"
        [data]="ammoniaChartData"
        max="5000"
        stepSize="100"
        battery="57"
        unit="PPM"
      ></ngx-sensor-chart>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <ngx-sensor-chart
        title="Co2"
        type="co2"
        [data]="co2ChartData"
        max="2000"
        min="150"
        battery="60"
        unit="PPM"
      ></ngx-sensor-chart>
    </div>
    <div class="col-xxl-3 col-md-6 col-sm-12">
      <ngx-sensor-chart
        title="Vibration"
        type="vibration"
        [data]="vibrationChartData"
        max="1"
        min="0"
        stepSize="0.1"
        battery="88"
        unit="KHZ"
      ></ngx-sensor-chart>
    </div>
  </div>
</div>