<div>
  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="col-md-12 d-flex flex-column flex-sm-row align-items-center d-flex-row">
              <radial-gauge
                class="m-3"
                width="200"
                height="200"
                min-value="0"
                max-value="240"
                major-ticks="0,40,80,120,160,200,240"
                value="165.23"
                units="Km/h"
                highlights='[
                  {"from": 120, "to": 200, "color": "rgba(50, 200, 50, .3)"},
                  {"from": 200, "to": 240, "color": "rgba(255, 0, 0, .3)"}
                ]'
              ></radial-gauge>
              <radial-gauge
                class="m-3"
                width="200"
                height="200"
                min-value="0"
                max-value="360"
                major-ticks="N,NE,E,ES,S,SW,W,WN,N"
                minor-ticks="10"
                ticks-angle="360"
                start-angle="180"
                stroke-ticks="false"
                highlights="false"
                color-plate="white"
                color-major-ticks="#000"
                color-minor-ticks="#000"
                color-numbers="#000"
                color-needle="#000"
                color-needle-end="#000"
                numbers-margin="2"
                font-numbers-size="30"
                color-needle-shadow-down="false"
                color-needle-circle-outer="#000"
                color-circle-inner="false"
                value-box="false"
                value-text-shadow="false"
                needle-circle-size="7"
                animation-rule="linear"
                needle-type="line"
                needle-start="75"
                needle-end="99"
                needle-width="3"
                borders="true"
                border-inner-width="3"
                border-middle-width="1"
                border-outer-width="5"
                    border-shadow-width="0"
                animation-duration="1500"
                animation-target="plate"
                value="80"
              >
              </radial-gauge>
            </div>
            <div class="col-md-12">
              <div class="map match-parent" id="map"></div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>